<% provide(:title, "about") %>

<div class="row">
  <h1>
    <div class="big-title">FROM THE FOUNDER</div>
  </h1>
  <div>
    <center>~ or ~</center>
  </div>
  <h1>
    <div class="big-title">WHO DID THIS, AND WHY?</div>
  </h1>
  <div class="col-md-6">
    <%= image_tag "https://s3.amazonaws.com/tna-main/BrownLeo_VIPphoto.JPG", width: "100%" %>
  </div>
  <div class="col-md-6">
    <p>Thank you for visiting the nutrition algorithm! Welcome to a different way of thinking about food.</p>
  <p>My name is Leo Brown. When I was 19, I was diagnosed with diabetes. This forced me to think about food in a way that I never had. I had to stop eating some of my favorite foods and start measuring everything that went into my body.</p>
  <p>I eventually decided that I couldn’t choose between healthy and inexpensive food: I needed both. This is hard, but not impossible. The nutrition algorithm is designed to make it easier for everyone. It solves a problem that is hard to do on the back of an envelope, but easy for a computer.</p>
  <p>I am not a dietitian or a computer programmer, but after realizing that the nutrition algorithm did not exist, I learned what I needed to build it. I recently earned a Master of Public Health degree at Harvard, which has helped me understand the complexities of chronic disease, behavior change, and our food system.</p>
  <p>I hope my efforts will help many people find ways of eating healthy for less money that are currently hidden in plain sight, just around the corner of the grocery store.</p>
  </div>
</div>
