<% provide(:title, "get in touch!") %>

<h1>
  <div class="big-title">CONTACT</div>
</h1>
<p>Please <%= link_to "email us at admin@thenutritionalgorithm.com", "mailto:admin@thenutritionalgorithm.com", target: :_blank, class: "text-link" %> if you'd like to talk more about the nutrition algorithm, including questions, suggestions, or any other comments. We would very much like to hear from you!</p>
<p>You can also follow the nutrition algorithm's active, hopefully entertaining, maybe even useful profiles on:
  <%= link_to "facebook", "http://facebook.com/thenutritionalgorithm", :target => :_blank, class: "text-link" %> | 
  <%= link_to "twitter", "http://twitter.com/thenutritional", :target => :_blank %> |
  <%= link_to "youtube", "https://www.youtube.com/channel/UCSEjE3Iq9bPC9HedvsVuUwA", :target => :_blank %>.
  
</p>
