<% provide(:title, "cooking with leo") %>

<h1>
  <div class="big-title">COOKING WITH LEO</div>
</h1>
<div class="row">
  <h2>Simple ways to prepare healthy, tasty, affordable food.</h2>
</div>

<center>
  <div>
    Season 3, Episode 2: to spatchcock a chicken
  </div>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/Q3VE7aydYzs" frameborder="0" allowfullscreen></iframe>


  <div>
    Season 3, Episode 1: two eggs
  </div>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/cqLS3jzrGHM" frameborder="0" allowfullscreen></iframe>


  <div>
    Season 2, Episode 5: ricotta with flax-chia nugs
  </div>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/vO33YFamZf8" frameborder="0" allowfullscreen></iframe>

  <br>

  <div>
    Season 2, Episode 4: eggplant pizza
  </div>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/O50O9_jwcF8" frameborder="0" allowfullscreen></iframe>
  <br>

  <div>
    Season 2, Episode 3: chicken leg quarters
  </div>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/LLzFvK3Bvl0" frameborder="0" allowfullscreen></iframe>
  <br>

  <div>
    Season 2, Episode 2: easy eggs with broccoli
  </div>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/ecmwdU4vE7A" frameborder="0" allowfullscreen></iframe>
  <br>

  <div>
    Season 2, Episode 1: mushrooms and broccoli
  </div>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/FFTc21u1Kqg" frameborder="0" allowfullscreen></iframe>
  <br>

  <div>
    Season 1, Episode 2: spinach with uncured chicken hot dogs
  </div>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/fA2NvbovUl4" frameborder="0" allowfullscreen></iframe>
  <br>

  <div>
    Season 1, Episode 1: yogurt mixed with things
  </div>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/eb99jofbaJQ" frameborder="0" allowfullscreen></iframe>

  <br>
  <div>
    Pilot Episode
  </div>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/k21Bh0MWWTw" frameborder="0" allowfullscreen></iframe>
  
</center>
