<% provide(:title, "faq") %>

<div class="row">
  <div class="col-md-12">

    <h1>
      <div class="big-title">FAQ</div>
    </h1>
    <p style="margin-bottom:30px;">
            Thank you for your interest in the nutrition algorithm! Please <%= link_to "email us at admin@thenutritionalgorithm.com", "mailto:admin@thenutritionalgorithm.com", target: :_blank %> if you have a question that is not answered here. You can also tweet <%= link_to "@thenutritional", "http://twitter.com/thenutritional", :target => :_blank %>, <%= link_to "post your question on Facebook", "http://facebook.com/thenutritionalgorithm", :target => :_blank %>, or share your thoughts on <%= link_to "this anonymous Google Form", "http://goo.gl/forms/puj23Pb2mX", target: :_blank %>.
          </p>
          <h4>
            Is the nutrition algorithm a substitute for my doctor, dietitian, or health care provider?
          </h4>
          <p style="margin-bottom:30px;">
            It is not. The nutrition algorithm is meant to provide information, but not health care. We hope the nutrition algorithm will help you make decisions that are healthy and aligned with what your health care provider recommends. We encourage you to discuss your use of the nutrition algorithm with your health care provider.
          </p>

          <h4>
            How does the nutrition algorithm know my nutrition needs?
          </h4>
          <p style="margin-bottom:30px;">
            Every person's nutrition needs are different. Your approximate nutrition needs are determined by the nutrition algorithm based on your age, sex, height, weight, and activity level. The calculation is based on guidelines published by the Institutes of Medicine and the United States Department of Agriculture (USDA).
          </p>

          <h4>
            Can I still eat my favorite foods?
          </h4>
          <p style="margin-bottom:30px;">
            Sure! The nutrition algorithm builds grocery lists that are healthy when considered as a whole. That leaves room for small amounts of 'unhealthy' food, including the unhealthy food that you love to eat. <b>It would be easy to eat healthy if we never ate our favorite unhealthy foods.</b> The nutrition algorithm shows you how to incorporate your all of your favorite foods into a healthy diet.
          </p>

          <h4>
            Why does the nutrition algorithm only take into account certain nutrition metrics?
          </h4>
          <p style="margin-bottom:30px;">
            The nutrition algorithm only considers nutrition metrics that are listed on the Nutrition Facts label. Eating what the nutrition algorithm recommends does not guarantee a healthy diet.
          </p>

  </div>
</div>